{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">SMYT</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}"><a href="{% url 'index' %}">Home</a></li>
            <li class="{% if request.resolver_match.url_name == 'reg_exp' %}active{% endif %}"><a href="{% url 'reg_exp' %}">Regular expression </a></li>
            <li class="{% if request.resolver_match.url_name == 'orm' %}active{% endif %}"><a href="{% url 'orm' %}">ORM</a></li>
            <li class="{% if request.resolver_match.url_name == 'questions' %}active{% endif %}"><a href="{% url 'questions' %}">Questions</a></li>
            <li class="{% if request.resolver_match.url_name == 'discount' %}active{% endif %}"><a href="{% url 'discount' %}">Discount</a></li>
            <li class="{% if request.resolver_match.url_name == 'sql' %}active{% endif %}"><a href="{% url 'sql' %}">SQL</a></li>
            <li class="{% if request.resolver_match.url_name == 'git' %}active{% endif %}"><a href="{% url 'git' %}">GIT</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div class="container">
      {% block content %}{% endblock content %}
  </div>
</body>
</html>